html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100%;
  display: flex;
}

.App {
  background-image: url("./assets/img/food-delivery-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /*min-height: 100vh;*/
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  width: 100%;
  flex-grow: 1;
}

a {
  text-decoration: none;
  color: #d50000;
  cursor: pointer;
}

.MuiGrid-item {
  width: 100%!important;
}
